@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --clr-primary-bright-orange: hsl(31, 77%, 52%);
  --clr-primary-dark-cyan: hsl(184, 100%, 22%);
  --clr-primary-very-dark-cyan: hsl(179, 100%, 13%);
  --clr-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-verylight-gray: hsl(0, 0%, 95%);

  --ff-big-shoulders: 'Big Shoulders Display', sans-serif;
  --ff-lexend-deca: 'Lexend Deca', sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  display: grid;
  place-content: center;
}

main {

  padding: 2.2rem;
}

article {
  padding: 2.25rem;
  max-width: 375px;
}

.sedans {
  background-color: var(--clr-primary-bright-orange);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.sedans button {
  color: var(--clr-primary-bright-orange);
}

.suvs {
  background-color: var(--clr-primary-dark-cyan);
}

.suvs button {
  color: var(--clr-primary-dark-cyan);
}

.luxory {
  background-color: var(--clr-primary-very-dark-cyan);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.luxory button {
  color: var(--clr-primary-very-dark-cyan);
}

h1 {
  font-family: var(--ff-big-shoulders);
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  font-size: 35px;
  color: var(--clr-neutral-transparent-white);
}

p {
  font-family: var(--ff-lexend-deca);
  font-size: 15px;
  color: var(--clr-neutral-transparent-white);
}

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 100px;
  margin: 2rem 0;
  font-family: var(--ff-lexend-deca);
}

@media (min-width: 900px) {
  main {
    display: flex;
  }

  article {
    width: 280px;
    height: 450px;
    padding: 2.2rem;
  }

  html,
  body {
    height: 100%;
  }

  p {
    font-size: 15px;
    margin-bottom: 3rem;
  }

  button {
    padding: 0.7rem 2rem;
    font-size: 13px;
  }

  .sedans {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }

  .luxory {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

}